<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.filter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" android:label="Filter"/>
        <activity android:name=".RedBlackDialog" android:label="Red or Black"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:screenOrientation="portrait"/>
        <activity android:name=".HighLowDialog" android:label="Higher or Lower"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:screenOrientation="portrait"/>
        <activity android:name=".finishActivity" android:label="Game Over"/>
    </application>

</manifest>
